body{
  background-color: rgb(165, 207, 243);
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.main-wrapper{
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

h3{
  font-size: 3vw;
}

button{
  border: none;
  padding: 15px 50px;
  border-radius: 10px;
  font-size: 5vw;
  cursor: pointer;
  color: rgb(56, 106, 150);
}